<mat-card>
  <mat-card-header>
    <mat-card-title>Create A New Course Offering</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <div class="card-section">
        <span class="card-section-heading"> Basic Info </span>
        <mat-form-field>
          <mat-select placeholder="Select Course" formControlName="courseNum">
            <mat-option *ngFor="let course of courses" [value]="course.value">
              {{course.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select Professor" formControlName="prof">
            <mat-option *ngFor="let prof of professors" [value]="prof.value">
              {{prof.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card-section">
        <span class="card-section-heading"> Timing </span>
        <mat-form-field>
          <mat-select placeholder="Select Quarter" formControlName="quarter">
            <mat-option *ngFor="let quarter of quarters" [value]="quarter.value">
              {{quarter.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select Year" formControlName="year">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select Hour" formControlName="hour">
            <mat-option *ngFor="let h of hours" [value]="h">
              {{h}} hour
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select Days" formControlName="days" multiple>
            <mat-option *ngFor="let d of days" [value]="d.value">
              {{d.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="card-section">
        <span class="card-section-heading"> Other </span>
        <mat-form-field>
          <input type="number" matInput placeholder="Capacity" formControlName="capacity">
        </mat-form-field>
      </div>

      <div class="card-section">
        <mat-form-field>
          <input type="number" matInput placeholder="Course Id" formControlName="offeringId" min="1">
        </mat-form-field>
      </div>

      <button mat-button [disabled]="form.invalid" color="primary" (click)="createOffering()">Create</button>
    </form>
  </mat-card-content>
</mat-card>
