<mat-card>
  <mat-card-header>
    <mat-card-title>Create A New Student</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Student Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Student or Professor" formControlName="userType" class="full-width-input">
          <mat-option value="student">Student</mat-option>
          <mat-option value="prof">Professor</mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <button mat-button [disabled]="form.invalid" color="primary" (click)="createStudent()">Create</button>
    </form>
  </mat-card-content>
</mat-card>