<mat-card>
  <mat-card-header>
    <mat-card-title>Create A New Course</mat-card-title>
    <mat-card-subtitle>subtile</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Course Name" formControlName="name">
      </mat-form-field>
    </form>
    <button mat-button [disabled]="!form.valid" *ngIf="text.display">Basic</button>
    {{text.name}}
    <span *ngFor="let course of text.class">{{course}}</span>
  </mat-card-content>
</mat-card>