<mat-card>
  <mat-card-header>
    <mat-card-title>Create A New Course</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Course Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Course Number" formControlName="courseNumber">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </form>
    <button mat-button [disabled]="!form.valid" (click)="createCourse()">Create</button>
  </mat-card-content>
</mat-card>