<mat-card>
  <mat-card-header>
    <mat-card-title>Create A New Course</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="card-section">
      <span class="card-section-heading">Course Information</span>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Course Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Course Number" formControlName="courseNum">
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <button mat-button [disabled]="!form.valid" (click)="createCourse()" type="submit">Create</button>
    </form>
  </mat-card-content>
</mat-card>